* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.head{
  height: 80px;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  border-bottom: 1px solid #D8D8D8;
  
  
  
  .title{
    padding: 30px 0px 0px 0px;
    padding-left: 50px;
    font-weight: bold;
    font-style: italic;
    font-size: 2.2em;
    
    a {
      text-decoration: none;
      color:grey;
    }
  }

  .user{
    display: flex;
    color: grey;
    padding-right: 50px;
    padding-top: 20px;

    .user-name{
      padding: 10px;
      margin-right: 30px;
      color:grey;
    }

    .send{
      padding: 10px;
      border: 2px solid rgb(29, 218, 29);
      border-radius: 5px;
      font-weight: bold;
      .post-link{
        text-decoration: none;
        color: rgb(29, 218, 29);
      }
    }
  }
}