* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
.head{
  height: 100px;
  width: auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  .title{
    font-weight: bold;
    font-style: italic;
    font-size: 2.2em;
    a {
      text-decoration: none;
      color:white;
    }
  }
  .contents{
    .content{
      
      a{
        height: 10rem;
        color: white;
        margin-left: 20px;
        letter-spacing: 1px;
        vertical-align: middle;
      }
    }
  }
}