.top{
  background-image: image-url("pict/forest2.jpg");
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  // background-attachment: scroll;
  background-position: center center;
  height:650px;
}

.PostPage{
  height: 100vh;
  // background-color: black;
  
  .posts{
    height: auto;
    width: auto;
    // background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .post{
      margin: 20px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        // box-shadow: 0 0 10px rgba(black,0.2);
        // border-radius: 5px;
      }
  
      .info {
        width: 200px;
        height: auto;
        // background-color: black;
        border: 1px solid black;
        // border-radius: 5px;
        padding: 7px;
        margin: 0px;
        color:black;
        // box-shadow: 0 0 10px rgba(black,0.2);
        font-style: italic;
      }
    }
  }
}